@using XiopiaWorkTimeTracker.Models
@model UserViewModel

<div class="jumbotron">
    <h1 class="panel-title">Stundenaufstellung für den Monat @Model.CurrentMonth @Model.CurrentYear</h1>
    <p class="data-current-user-title">@Model.CurrentUser</p>
    <nav class="navbar navbar-default">
        <button type="button" class="btn btn-primary btn-lg">Arbeit beginnen jetzt</button>
        <button type="button" class="btn btn-primary btn-lg">Arbeit abschliessen</button>
        <button type="button" class="btn btn-primary btn-lg">Krank melden</button>
        <button type="button" class="btn btn-primary btn-lg">Urlaub beantragen</button>
    </nav>
</div>
<nav>
    <ul class="pagination">
        @*<li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>*@
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 1, SelectedUser = Model.SelectedUser })">Januar</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 2, SelectedUser = Model.SelectedUser })">Februar</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 3, SelectedUser = Model.SelectedUser })">März</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 4, SelectedUser = Model.SelectedUser })">April</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 5, SelectedUser = Model.SelectedUser })">Mai</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 6, SelectedUser = Model.SelectedUser })">Juni</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 7, SelectedUser = Model.SelectedUser })">Juli</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 8, SelectedUser = Model.SelectedUser })">August</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 9, SelectedUser = Model.SelectedUser })">September</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 10, SelectedUser = Model.SelectedUser })">Oktober</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 11, SelectedUser = Model.SelectedUser })">November</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 12, SelectedUser = Model.SelectedUser })">Dezember</a></li>
        @*<li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>*@
    </ul>
</nav>
<!--<table class="table-striped table-hover">-->
    <table class="table-hover">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Kommen</th>
            <th>Pause in min.</th>
            <th>Gehen</th>
            <th>Projekt</th>
        </tr>
    </thead>
    @foreach (var cur in Model.WorkTimeRows)
    {
        <tr class="date-dayofweek-@cur.Date.ToString("ddd")">
            <td>@cur.Date.ToShortDateString() @cur.Date.ToString("ddd")</td>
            <td>@cur.StartTime</td>
            <td>@cur.PauseLength</td>
            <td>@cur.EndTime</td>
            <td>@cur.Project</td>
        </tr>
    }
</table>







