@using XiopiaWorkTimeTracker.Models
@using Ressources
@model UserViewModel

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="jumbotron">
    <h1 class="panel-title">@Language.UserHeader @Model.CurrentMonth @Model.CurrentYear</h1>
    <p class="data-current-user-title">@Model.User.FirstName @Model.User.LastName</p>
    <nav class="navbar navbar-default">
        <button id="startNowBtn" type="button" class="btn btn-primary btn-lg">@Language.StartWorkNow</button>
        <button id="endNowBtn" type="button" class="btn btn-success btn-lg">@Language.EndWork</button>
    </nav>
</div>
<nav>
    <ul class="pagination">
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 1})">@Language.January</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 2})">@Language.February</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 3})">@Language.March</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 4})">@Language.April</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 5})">@Language.Mai</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 6})">@Language.Juni</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 7})">@Language.July</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 8})">@Language.August</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 9})">@Language.September</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 10})">@Language.October</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 11})">@Language.November</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 12})">@Language.Dezember</a></li>
    </ul>
</nav>

<!--Modal Dialog-->
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Language.NewWorkTime @DateTime.Now.ToString()</h4>
            </div>
            <div class="modal-body" id="client-detail-modal">
                @{Html.RenderPartial("StartRecordingNowDialog", Model);}
            </div>
        </div>
    </div>
</div>

<div id="tblWebGrid" class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <div class="row webGrid-header">
                <div class="col-lg-2 center-block">@Language.Date</div>
                <div class="col-lg-2 center-block">@Language.StartWork</div>
                <div class="col-lg-1 center-block">@Language.PauseInMin</div>
                <div class="col-lg-2 center-block">@Language.EndWork</div>
                <div class="col-lg-3 center-block">@Language.Project</div>
                <div class="col-lg-1 center-block">@Language.ReportIllness</div>
                <div class="col-lg-1 center-block">@Language.RequestHoloday</div>
            </div>
            @foreach (var curDay in Model.WorkDays)
            {
                <div class="row">
                    <div class="col-lg-2 webGrid-Date date-dayofweek-@curDay.WorkDate.DayOfWeek.ToString("d")">@curDay.WorkDate.ToString("dd.MM. ddd")</div>
                    <div class="col-lg-10 container  form-group date-dayofweek-@curDay.WorkDate.DayOfWeek.ToString("d")">
                        @if (curDay.DataRow.Count == 0)
                        {
                            <div class="row bg-info">
                                <div class="col-lg-2">
                                    <input type="time" class="form-control webGrid-StartTime" placeholder="00:00" readonly />
                                </div>
                                <div class="col-lg-2">
                                    <input type="number" class="form-control webGrid-PauseLength" placeholder="00" readonly />
                                </div>
                                <div class="col-lg-2">
                                    <input type="time" class="form-control webGrid-EndTime" placeholder="00:00" readonly />
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" class=" form-control webGrid-Proj" placeholder="Projekt" readonly />
                                </div>
                                <div class="col-lg-1">
                                    <input type="checkbox" class="form-control Attr-Ill" />
                                </div>
                                <div class="col-lg-1">
                                    <input type="checkbox" class="form-control Attr-Holiday" />
                                </div>
                            </div>
                        }
                        else
                        {
                            foreach (var curEntry in curDay.DataRow)
                            {
                                <div class="row bg-info">
                                    @Html.Hidden(curEntry.EntryId.ToString())
                                    @if (curEntry.AttrIll)
                                    {
                                        <div class="col-lg-10 field-illness">
                                            <h3>Krank !!!</h3>
                                        </div>
                                        <div class="col-lg-1">
                                            <input type="checkbox" class=" form-control  Attr-Ill" checked="@curEntry.AttrIll" />
                                        </div>
                                        <div class="col-lg-1"> </div>

                                    }
                                    else if (curEntry.AttrHoliday)
                                    {
                                        <div class="col-lg-10 field-holiday">
                                            <h3>Urlaub</h3>
                                        </div>
                                        <div class="col-lg-1">

                                        </div>
                                        <div class="col-lg-1">
                                            <input type="checkbox" class=" form-control Attr-Holiday" checked="@curEntry.AttrHoliday" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-2">
                                            <input type="time" class="form-control webGrid-StartTime" value="@curEntry.StartTime.Trim()" disabled />
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="number" class="form-control webGrid-PauseLength" value="@curEntry.PauseLength" readonly />
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="time" class="form-control webGrid-EndTime" value="@curEntry.EndTime" readonly />
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control webGrid-Proj" value="@curEntry.Project" readonly />
                                        </div>
                                        <div class="col-lg-1">
                                            <input type="checkbox" class=" form-control  Attr-Ill" />
                                        </div>
                                        <div class="col-lg-1">
                                            <input type="checkbox" class=" form-control  Attr-Holiday" />
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>

                </div>
            }
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">Zusammenfassung</div>
                <div>Panel content</div>
            </div>
        </div>
    </div>
</div>

<script>
    debugger;

    $("#startNowBtn").on("click", function (event) {
        $("#myModal").modal('show');
    })

    $("#endNowBtn").on("click", function () {
        event.preventDefault();
        var newProjData = { "UserId": @Model.User.Id, "Action": "EndWork" };
        $.ajax({
            type: "POST",
            url: "/User/ActionFromView",
            data: newProjData,
            datatype: "html",
            success: function (data) {
                switch(data)
                {
                    case 0:
                        window.location.replace("/User/SelectMonthWorkTimes/?month=@Model.WorkDay.Month.ToString()");
                        break;
                    case 1:
                        alert("You have multiple Projects started today !");
                        break;
                    case 2:
                        alert("You don't have started any Projects today !");
                        break;
                    default:
                        break;
                }
            },
            error: function () {
                alert("error");
            }
        });

    })

    $("#tblWebGrid").on("click", function(event){
        $("#tblWebGrid").unbind("click");
        var node = event.target;
        var nodeClasses = node.classList;
        var rowId = null;
        if(node.parentElement.parentElement.firstElementChild.type == "hidden")
        {
            rowId = node.parentElement.parentElement.firstElementChild.name;
        }
        var att = document.createAttribute("id");
        att.value = "editElement";
        node.setAttributeNode(att);
        $("#editElement").removeAttr("readonly");

        for(i=0; i<nodeClasses.length; i++)
        {
            if(nodeClasses[i] == "webGrid-StartTime")
            {
                SetEditHandler("StartTime", rowId);
                break;
            }
            if(nodeClasses[i] == "webGrid-PauseLength")
            {
                SetEditHandler("Pause", rowId);
                break;
            }
            if(nodeClasses[i] == "webGrid-EndTime")
            {
                SetEditHandler("EndTime", rowId);
                break;
            }
            if(nodeClasses[i] == "webGrid-Proj")
            {
                SetEditHandler("Project", rowId);
                break;
            }
            if(nodeClasses[i] == "Attr-Ill")
            {
                SetEditHandler("Attr-Ill", rowId);
                break;
            }
            if(nodeClasses[i] == "Attr-Holiday")
            {
                SetEditHandler("Attr-Holiday", rowId);
                break;
            }
        }
    })

    function SetEditHandler(element, id)
    {
        if((element == "Attr-Ill") || (element == "Attr-Holiday"))
        {
            PostElementChange(element, id, $("#editElement").is(':checked'));
        }
        else
        {
            $("#editElement").on("blur", function(){
                PostElementChange(element, id, $("#editElement").val());
            })
            $("#editElement").keyup(function(e){
                if (e.which == 13)
                {
                    PostElementChange(element, id, $("#editElement").val());
                }
            })
        }
    }

    function PostElementChange(element, elementId, value)
    {
        var newProjData = { "UserId": @Model.User.Id, "Action": "ElementChange", "ElementId": elementId, "Element":element, "Value": value };
        $.ajax({
            type: "POST",
            url: "/User/ActionFromView",
            data: newProjData,
            datatype: "html",
            success: function (data) {
                $("#editElement").removeAttr("id");
                switch(data)
                {
                    case 0:
                        window.location.replace("/User/SelectMonthWorkTimes/?month=@Model.WorkDay.Month.ToString()");
                        break;
                    case 1:
                        alert("You have multiple Projects started today !");
                        break;
                    case 2:
                        alert("You don't have started any Projects today !");
                        break;
                    default:
                        break;
                }
            },
            error: function () {
                alert("error");
            }
        });
    }

</script>
