@using XiopiaWorkTimeTracker.Models
@using Ressources
@model UserViewModel

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="jumbotron">
    <h1 class="panel-title">@Language.UserHeader @Model.CurrentMonth @Model.CurrentYear</h1>
    <p class="data-current-user-title">@Model.CurrentUser</p>
    <nav class="navbar navbar-default">
        @*@Html.ActionLink(@Language.StartWorkNow, "StartRecordingNow", "User", null, new { @class = "modal-link btn btn-primary btn-lg" })*@
        <button id="startNowBtn" type="button" class="btn btn-primary btn-lg">@Language.StartWorkNow</button>
        <button type="button" class="btn btn-primary btn-lg">@Language.EndWork</button>
        <button type="button" class="btn btn-primary btn-lg">@Language.ReportIllness</button>
        <button type="button" class="btn btn-primary btn-lg">@Language.RequestHoloday</button>
    </nav>
</div>
<nav>
    <ul class="pagination">
        @*<li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>*@
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 1, SelectedUser = Model.SelectedUser })">@Language.January</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 2, SelectedUser = Model.SelectedUser })">@Language.February</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 3, SelectedUser = Model.SelectedUser })">@Language.March</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 4, SelectedUser = Model.SelectedUser })">@Language.April</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 5, SelectedUser = Model.SelectedUser })">@Language.Mai</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 6, SelectedUser = Model.SelectedUser })">@Language.Juni</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 7, SelectedUser = Model.SelectedUser })">@Language.July</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 8, SelectedUser = Model.SelectedUser })">@Language.August</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 9, SelectedUser = Model.SelectedUser })">@Language.September</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 10, SelectedUser = Model.SelectedUser })">@Language.October</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 11, SelectedUser = Model.SelectedUser })">@Language.November</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 12, SelectedUser = Model.SelectedUser })">@Language.Dezember</a></li>
        @*<li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>*@
    </ul>
</nav>

<!--Modal Dialog-->
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Language.NewWorkTime</h4>
            </div>
            <div class="modal-body" id="client-detail-modal"></div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Language.Close</button>
                <button type="button" class="btn btn-primary">@Language.SaveChanges</button>
            </div>*@
        </div>
    </div>
</div>
<!--<table class="table-striped table-hover">-->
<table class="table-hover">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Kommen</th>
            <th>Pause in min.</th>
            <th>Gehen</th>
            <th>Projekt</th>
        </tr>
    </thead>
    @foreach (var cur in Model.WorkTimeRows)
    {
        <tr class="date-dayofweek-@cur.Date.ToString("ddd")">
            <td>@cur.Date.ToShortDateString() @cur.Date.ToString("ddd")</td>
            <td>@cur.StartTime</td>
            <td>@cur.PauseLength</td>
            <td>@cur.EndTime</td>
            <td>@cur.Project</td>
        </tr>
    }
</table>

<script type="text/javascript">
    $("#startNowBtn").on("click", function (event) {
        event.preventDefault();
        $.ajax({
            url: "/User/StartRecordingNow/",
            type: "GET",
        }).done(function (result) {
            $("#client-detail-modal").html(result);
            $("#myModal").modal('show');
        });
    });
</script>


@*<script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('#startNowBtn').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('startNowBtn').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>*@





