@using XiopiaWorkTimeTracker.Models
@using Ressources
@model UserViewModel


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="jumbotron">
    <h1 class="panel-title">@Language.UserHeader @Model.CurrentMonth @Model.CurrentYear</h1>
    <p class="data-current-user-title">@Model.CurrentUser</p>
    <nav class="navbar navbar-default">
        @*@Html.ActionLink(@Language.StartWorkNow, "StartRecordingNow", "User", null, new { @class = "modal-link btn btn-primary btn-lg" })*@
        <button id="startNowBtn" type="button" class="btn btn-primary btn-lg">@Language.StartWorkNow</button>
        <button type="button" class="btn btn-primary btn-lg">@Language.EndWork</button>
        <button type="button" class="btn btn-primary btn-lg">@Language.ReportIllness</button>
        <button type="button" class="btn btn-primary btn-lg">@Language.RequestHoloday</button>
    </nav>
</div>
<nav>
    <ul class="pagination">
        @*<li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>*@
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 1, SelectedUser = Model.SelectedUser })">@Language.January</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 2, SelectedUser = Model.SelectedUser })">@Language.February</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 3, SelectedUser = Model.SelectedUser })">@Language.March</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 4, SelectedUser = Model.SelectedUser })">@Language.April</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 5, SelectedUser = Model.SelectedUser })">@Language.Mai</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 6, SelectedUser = Model.SelectedUser })">@Language.Juni</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 7, SelectedUser = Model.SelectedUser })">@Language.July</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 8, SelectedUser = Model.SelectedUser })">@Language.August</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 9, SelectedUser = Model.SelectedUser })">@Language.September</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 10, SelectedUser = Model.SelectedUser })">@Language.October</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 11, SelectedUser = Model.SelectedUser })">@Language.November</a></li>
        <li><a href="@Url.Action("SelectMonthWorkTimes", "User", new { month = 12, SelectedUser = Model.SelectedUser })">@Language.Dezember</a></li>
        @*<li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>*@
    </ul>
</nav>

<!--Modal Dialog-->
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Language.NewWorkTime</h4>
            </div>
            <div class="modal-body" id="client-detail-modal"></div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Language.Close</button>
                <button type="button" class="btn btn-primary">@Language.SaveChanges</button>
            </div>*@
        </div>
    </div>
</div>
<!--<table class="table-striped table-hover">-->
<!--table class="table-hover">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Kommen</th>
            <th>Pause in min.</th>
            <th>Gehen</th>
            <th>Projekt</th>
        </tr>
    </thead>
    @foreach (var cur in Model.WorkTimeRows)
    {
        <tr class="date-dayofweek-@cur.Date.ToString("ddd")">
            <td>@cur.Date.ToShortDateString() @cur.Date.ToString("ddd")</td>
            <td>@cur.StartTime</td>
            <td>@cur.PauseLength</td>
            <td>@cur.EndTime</td>
            <td>@cur.Project</td>
        </tr>
    }
</table-->


<div id="DivGrid" style="width:100%;">
	@{
		var grid = new WebGrid(Model.WorkTimeRows, canPage: true, defaultSort: "Date", rowsPerPage: 100);
		@grid.GetHtml(tableStyle: "webGrid",
					  headerStyle: "webGrid-header",
					  footerStyle: "webGrid-footer",
					  alternatingRowStyle: "webGrid-alternating-row",
					  selectedRowStyle: "webGrid-selected-row",
					  rowStyle: "webGrid-row-style",
					  htmlAttributes: new { id = "tblWebGrid" },
					  columns: grid.Columns(
												grid.Column("Date", "Datum", format: (item) => string.Format("{0:dd/MM/yyyy ddd}", item.Date), style: "webGrid-Date"),
												grid.Column("StartTime", "Kommen", format: (item) => string.Format("{0:hh:mm}", item.StartTime), style: "webGrid-StartTime"),
												grid.Column("PauseLength", "Pause in min.", format: (item) => string.Format("{0:hh:mm}", item.PauseLength), style: "webGrid-PauseLength"),
												grid.Column("EndTime", "Gehen", format: (item) => string.Format("{0:hh:mm}", item.EndTime), style: "webGrid-EndTime"),
												grid.Column("Project", header: "Projekt", style: "webGrid-Project")
											)
					 );

	}

</div>

<div class="modal fade" id="newWorkTimeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">New message</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="Datum" class="control-label">Datum:</label>
						<input type="date" class="form-control" id="Datum">
					</div>
					<div class="form-group">
						<label for="Kommen" class="control-label">Kommen:</label>
						<input type="datetime-local" class="form-control" id="Kommen">
					</div>
					<div class="form-group">
						<label for="Pause" class="control-label">Pause in min.:</label>
						<input type="datetime-local" class="form-control" id="Pause">
					</div>
					<div class="form-group">
						<label for="Gehen" class="control-label">Gehen:</label>
						<input type="datetime" class="form-control" id="Gehene">
					</div>
					<div class="form-group">
						<label for="Projekt" class="control-label">Projekt:</label>
						<input type="text" class="form-control" id="Projekt">
					</div>
					<div class="form-group">
						<label for="Beschreibung" class="control-label">Beschreibung:</label>
						<textarea class="form-control" id="Beschreibung"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save Time</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
    $("#startNowBtn").on("click", function (event) {
        event.preventDefault();
        $.ajax({
            url: "/User/StartRecordingNow/",
            type: "GET",
        }).done(function (result) {
            $("#client-detail-modal").html(result);
            $("#myModal").modal('show');
        });
    });
</script>


<script type="text/javascript">
	function styleGrid() {
		$("#tblWebGrid tr:not(:first)").each(function () {
			var aptStatus = $(this).find("td:nth-child(1)").html();
			if ((aptStatus.indexOf("Sa") >= 0) || (aptStatus.indexOf("So") >= 0)) {
				$(this).find("td:nth-child(1)").addClass("clsRed");
			} else {
				$(this).find("td:nth-child(1)").addClass("clsNormal");
			}
		});
	}

	$(document).ready(function () {
		styleGrid();
	});
</script>

<script type="text/javascript">
	$(function(){
		$('#tblWebGrid tr').hover(function () {
			$(this).toggleClass('clickable');
		}).on('click', function () {
			//TODO:create detail page or Model Dialog view for selected date (abir)
			//location.href = '/Details/' + $(this).find('td:first').text();
			var data = new Date($(this).find('td:first').text());
			var dt = new Date();
			var time = dt.getHours() + ":" + dt.getMinutes();
			var modal = $("#newWorkTimeModal");
			modal.find('.modal-title').text('New WorkTime for @Model.CurrentUser')
			modal.find('#Datum').val(data);
			modal.find('#Kommen').val(time);
			$("#newWorkTimeModal").modal('show');
		});
	});
</script>



@*<script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('#startNowBtn').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('startNowBtn').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>*@





