@using XiopiaWorkTimeTracker.Models
@using Ressources
@model UserViewModel

<div class="modal-body">
    @{
        Model.WorkDay = DateTime.Now;
    }
    <div class="alert alert-info">
                @Html.DisplayNameFor(m => m.Project)
                @Html.DropDownListFor(m => m.Project, Model.UserProjects, new { id="projSelect"})
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Language.Close</button>
        <button id="saveChanges" type="submit" class="btn btn-primary">@Language.SaveChanges</button>
    </div>
</div>

<script type="text/javascript">
    //    debugger;
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
    $("#saveChanges").on("click", function (event) {
        event.preventDefault();
        var newProjData = { "UserId": @Model.User.Id, "Action": "StartWork", "ProjectId": $("#projSelect").val() };
        $.ajax({
            type: "POST",
            url: "/User/ActionFromView",
            data: newProjData,
            datatype: "html",
            success: function (data) {
                switch(data)
                {
                    case 0:
                        window.location.replace("/User/SelectMonthWorkTimes/?month=@Model.WorkDay.Month.ToString()");
                        break;
                    case 1:
                        $("#myModal").modal('hide');
                        alert("You have multiple Projects started today !");
                        break;
                    default:
                        break;
                }
            },
            error: function () {
                alert("error");
            }
        });
    });
</script>
