@using Ressources
@model XiopiaWorkTimeTracker.Models.ViewModels.ProjectViewModel

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<h2>@Language.ProjectsManagement</h2>
<p>
    @*<button id="newPrjectBtn" type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("CreateNewProject", "Projects")'">@Language.newProject</button>*@
    <button id="newPrjectBtn" type="button" class="btn btn-primary btn-lg">@Language.newProject</button>
</p>

<div id="DivGrid" style="width:100%;">
    @{
        var grid = new WebGrid(Model.projects, canPage: true, defaultSort: "Name", rowsPerPage: 100);
        @grid.GetHtml(tableStyle: "webGrid",
                      headerStyle: "webGrid-header",
                      footerStyle: "webGrid-footer",
                      alternatingRowStyle: "webGrid-alternating-row",
                      selectedRowStyle: "webGrid-selected-row",
                      rowStyle: "webGrid-row-style",
                      htmlAttributes: new { id = "tblWebGrid" },
                      columns: grid.Columns(grid.Column("Name", Language.ProjectName, null, style: "webGrid-Date"),
                                            grid.Column("ProjectResponsible", Language.ProjectResponsible, null, style: "webGrid-StartTime"),
                                            grid.Column("Members", Language.Members, format: (item) => item.Members != null ? "" : "", style: "webGrid-Project")));
    }

</div>



<div>
    @*@Html.ActionLink("Edit", "EditProject", new { id = item.Id }) |*@
    @*Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
    @*@Html.ActionLink("Delete", "DeleteProject", new { id = item.Id })*@

</div>

<script src="~/Scripts/Custom/ProjectsManagement.js"></script>



