@model LDAPTest.Models.LogOnModel

@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log On</h2>
<p> Please enter your user name and password.</p>

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and again.")
@using (Html.BeginForm())
{
	<div>
		<fieldset>
			<legend>Account Information</legend>

			<div class="editor-label">
				@Html.LabelFor(a=>a.UserName)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(a => a.UserName)
			</div>
			<div class="editor-label">
				@Html.LabelFor(a => a.Password)
			</div>
			<div class="editor-field">
				@Html.PasswordFor(a => a.Password)
			</div>
			<div class="editor-label">
				@Html.CheckBoxFor(a => a.RememberMe)
				@Html.LabelFor(a=>a.RememberMe)
			</div>
			<p>
				<input type="submit" value="Log On" />
			</p>
		</fieldset>
	</div>
}

