@using XiopiaWorkTimeTracker.Models
@model SettingsViewModel

<div class="jumbotron">
    <h1 class="panel-title">Admin Bereich</h1>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Home">Home</a></li>
    <li><a data-toggle="tab" href="#defaultProfile">Default Profile</a></li>
    <li><a data-toggle="tab" href="#userSettings">User</a></li>
</ul>

<div class="tab-content">
    <div id="Home" class="tab-pane fade in active">
        <h3>Global Settings</h3>
    </div>
    <div id="defaultProfile" class="tab-pane fade">
        <h3>Default Settings</h3>
        <div class="form-group">
            @Html.LabelFor(m => m.HoursAday)
            @Html.TextBoxFor(m => m.HoursAday)
            @Html.ValidationMessageFor(m =>m.HoursAday)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.HoursAweek)
            @Html.TextBoxFor(m => m.HoursAweek)
            @Html.ValidationMessageFor(m => m.HoursAweek)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MonthsAyear)
            @Html.TextBoxFor(m => m.MonthsAyear)
            @Html.ValidationMessageFor(m => m.MonthsAyear)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DaysAweek)
            @Html.TextBoxFor(m => m.DaysAweek)
            @Html.ValidationMessageFor(m => m.DaysAweek)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.HolidayDays)
            @Html.TextBoxFor(m => m.HolidayDays)
            @Html.ValidationMessageFor(m => m.HolidayDays)
        </div>
    </div>
    <div id="userSettings" class="tab-pane fade">
        <h3>User Settings</h3>
    </div>
</div>
