@using XiopiaWorkTimeTracker.Models
@using Ressources
@model SettingsViewModel


<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="jumbotron">
    <h1 class="panel-title">@Language.AdminArray</h1>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Home">@Language.Home</a></li>
    <li><a data-toggle="tab" href="#defaultProfile">@Language.DefaultProfile</a></li>
    <li><a data-toggle="tab" href="#holidays">@Language.Holidays</a></li>
    <li><a data-toggle="tab" href="#userSettings">@Language.UserSettings</a></li>
    <li><a data-toggle="tab" href="#rolesManagement">@Language.RolesManagement</a></li>
</ul>

<div class="tab-content">
    <div id="Home" class="tab-pane fade in active">
        <h3>Global Settings</h3>
    </div>
    <div id="defaultProfile" class="tab-pane fade">
        @Html.Partial("GlobalSettings", Model)
    </div>
    <div id="holidays" class="tab-pane fade">
        @Html.Partial("HolidaysSettings", Model)
    </div>
    <div id="userSettings" class="tab-pane fade">
        <h3>User Settings</h3>
    </div>
    <div id="rolesManagement" class="tab-pane fade">
        <h3>@Language.RolesManagement</h3>
		@Html.Partial("RolesManagement", Model.usrvm)
    </div>
</div>
